div{
	margin-top:30px;
	width:100%;
	height:100vh;
}
.besti{
	width:400px;
	height:400px;
	animation-name:besti;
	animation-duration:10s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
}
.family{
	width:400px;
	height:400px;
	animation-name:family;
	animation-duration:30s;
	animation-iteration-count:infinite;
	animation-direction:alternate;
	
}
@keyframes besti{
	0%{border-radius:10%;background-image:url("2b.jpg");}
	50%{border-radius:30%;background-image:url("1b.jpg");}
	100%{border-radius:10%;background-image:url("3b.jpg");}
}
@keyframes family{
	0%{border-radius:10%;background-image:url("1f.jpg");}
	40%{border-radius:30%;background-image:url("2f.jpg");}
	70%{border-radius:10%;background-image:url("3f.jpg");}
	100%{border-radius:30%;background-image:url("4f.jpg");}
}